In [43]:
import tabula
import pandas as pd

# Read pdf into a list of DataFrame
df = tabula.read_pdf("C:\\Users\\mswas\\Downloads\\2025-17-5--19-23-41-Statement_1747490021876.pdf",pages=1, pandas_options={'header': 0})
df2 = tabula.read_pdf("C:\\Users\\mswas\\Downloads\\2025-17-5--19-23-41-Statement_1747490021876.pdf",pages='all', pandas_options={'header': None})

In [45]:
df1=pd.DataFrame()
for sdf in df2: 
    sdf.columns=df[0].columns
    df1=pd.concat([df1,sdf],ignore_index=True)
df1=df1[1:]
df1

,Date,Description,Amount,Type
1,21-05-2024,VISA REF MICROSO 17 05 24,2.00,CR
2,17-05-2024,VSI/MICROSOFT\rI/202405171118/413705177306/,2.00,DR
3,09-04-2024,NEFT-N100242981395933-\rSWASTIK MISHRA-TRANSFE...,45000.00,CR
4,08-04-2024,NEFT-N099242977540215-\rSWASTIK MISHRA-TRANSFE...,35000.00,CR
5,04-04-2024,VISA REF GOOGLE CLOUD,2.00,CR
6,30-03-2024,631501510377:Int.Pd:30-12-2023\rto 29-03-2024,3006.00,CR
7,26-03-2024,VSI/GOOGLE\rCLOU/202403261127/4085053340\r59/,2.00,DR
8,11-03-2024,SMSChgsOct23-Dec23+GST,0.17,DR
9,12-02-2024,BIL/BIL/0000000PXLOF/IC3140410\r000000PXLOF/BB,710.00,DR
10,15-01-2024,BIL/BIL/0000000P813B/IC3140140\r000000P813B/BB,1070.00,DR
11,30-12-2023,631501510377:Int.Pd:30-09-2023\rto 29-12-2023,3006.00,CR
12,21-12-2023,SMSChgsJul23-Sep23+GST,0.88,DR
13,12-12-2023,BIL/BIL/0000000O94DS/IC3133460\r000000O94DS/BB,1040.0,DR
14,23-11-2023,DCARDFEE6707NOV23-\rOCT24+GST,177.0,DR
15,08-11-2023,BIL/BIL/0000000N931A/IC3133120\r000000N931A/BB,1340.0,DR
16,16-10-2023,BIL/BIL/0000000MKIF5/IC3132890\r000000MKIF5/BB,1230.0,DR
17,30-09-2023,631501510377:Int.Pd:30-06-2023\rto 29-09-2023,3136.0,CR
18,13-09-2023,UPI/325675095530/Upi\rTransaction/airtel.payu@...,479.0,DR
19,08-09-2023,BIL/BPAY/0000000LGQS8/BBPS/\rMaharashtr/029470,1150.0,DR
20,04-09-2023,VIN/MAKEMYTRIP\r/202309042234/324717038023/,21061.0,DR
21,04-09-2023,SMSChgsApr23-Jun23+GST,0.17,DR
22,16-08-2023,NEFT-N227232596780244-\rSWASTIK MISHRA-TRANSFE...,5000.0,CR
23,30-06-2023,631501510377:Int.Pd:30-03-2023\rto 29-06-2023,3143.0,CR

In [54]:
df1['net']=df1.apply(lambda row: row['Amount']*(-1) if row['Type'] == 'DR' else row['Amount'], axis=1)

In [56]:
#df1['Date']=pd.to_datetime(df1['Date'],format='%d-%m-%Y')
#df1['Amount']=df1['Amount'].astype('float')
df1

,Date,Description,Amount,Type,net
1,2024-05-21,VISA REF MICROSO 17 05 24,2.00,CR,2.00
2,2024-05-17,VSI/MICROSOFT\rI/202405171118/413705177306/,2.00,DR,-2.00
3,2024-04-09,NEFT-N100242981395933-\rSWASTIK MISHRA-TRANSFE...,45000.00,CR,45000.00
4,2024-04-08,NEFT-N099242977540215-\rSWASTIK MISHRA-TRANSFE...,35000.00,CR,35000.00
5,2024-04-04,VISA REF GOOGLE CLOUD,2.00,CR,2.00
6,2024-03-30,631501510377:Int.Pd:30-12-2023\rto 29-03-2024,3006.00,CR,3006.00
7,2024-03-26,VSI/GOOGLE\rCLOU/202403261127/4085053340\r59/,2.00,DR,-2.00
8,2024-03-11,SMSChgsOct23-Dec23+GST,0.17,DR,-0.17
9,2024-02-12,BIL/BIL/0000000PXLOF/IC3140410\r000000PXLOF/BB,710.00,DR,-710.00
10,2024-01-15,BIL/BIL/0000000P813B/IC3140140\r000000P813B/BB,1070.00,DR,-1070.00
11,2023-12-30,631501510377:Int.Pd:30-09-2023\rto 29-12-2023,3006.00,CR,3006.00
12,2023-12-21,SMSChgsJul23-Sep23+GST,0.88,DR,-0.88
13,2023-12-12,BIL/BIL/0000000O94DS/IC3133460\r000000O94DS/BB,1040.00,DR,-1040.00
14,2023-11-23,DCARDFEE6707NOV23-\rOCT24+GST,177.00,DR,-177.00
15,2023-11-08,BIL/BIL/0000000N931A/IC3133120\r000000N931A/BB,1340.00,DR,-1340.00
16,2023-10-16,BIL/BIL/0000000MKIF5/IC3132890\r000000MKIF5/BB,1230.00,DR,-1230.00
17,2023-09-30,631501510377:Int.Pd:30-06-2023\rto 29-09-2023,3136.00,CR,3136.00
18,2023-09-13,UPI/325675095530/Upi\rTransaction/airtel.payu@...,479.00,DR,-479.00
19,2023-09-08,BIL/BPAY/0000000LGQS8/BBPS/\rMaharashtr/029470,1150.00,DR,-1150.00
20,2023-09-04,VIN/MAKEMYTRIP\r/202309042234/324717038023/,21061.00,DR,-21061.00
21,2023-09-04,SMSChgsApr23-Jun23+GST,0.17,DR,-0.17
22,2023-08-16,NEFT-N227232596780244-\rSWASTIK MISHRA-TRANSFE...,5000.00,CR,5000.00
23,2023-06-30,631501510377:Int.Pd:30-03-2023\rto 29-06-2023,3143.00,CR,3143.00

In [ ]:
df2=df1[df1['Type']=='CR']
for index, row in df2.iterrows():
                    balance_entry = AccountBalance(
                        bank='ICICI',
                        date=row['Date'],
                        narration=row['Description'],
                        withdrawal_amt=0,
                        deposit_amt=row['Amount'],
                    )
                    db_session.add(balance_entry)
df2=df1[df1['Type']=='DR']
for index, row in df2.iterrows():
                    balance_entry = AccountBalance(
                        bank='ICICI',
                        date=row['Date'],
                        narration=row['Description'],
                        withdrawal_amt=row['Amount'],
                        deposit_amt=0,
                    )
                    db_session.add(balance_entry)